h3 {
	color:green;
	text-align:center;
}

.title {
	font-weight: bold;
	font-size: 30px;
}

.MyProfile{
	background-color:lightblue;
}

.Introduce{
	background:lightgreen;
	margin:40px;
}

.MyKeyword {
	list-style-position:inside;
	text-align: center;
}