h3 {
	color:green;
	text-align:center;
}

table, td, th {
  border : 1px solid black;
  border-collapse : collapse;
};

.title {
	font-weight: bold;
	font-size: 30px;
}

.Container{
	display:flex;
	justify-content: center;
	align-items: center;
}

.Detail{
	display:flex;
	justify-content: center;
	align-items: center;
}

.MyProfile{
	background-color:lightblue;
	margin-bottom:50px;
}

.Introduce{
	/* background:lightgreen; */
	margin:40px;
}

.Separator {
	width: 30%;
	/* height: 2px; */
	border: 2px solid lightgreen;
	margin: 10px, auto;
}

.MyPicture {
	float: left;
	margin-right: 100px;
}

.MyInfo {
	margin-right: 180px;
}

.Keyword {
	/* list-style-position:inside; */
	text-align: center;
	margin-left:60px;
	margin-right:80px;
}

.Keyword2 {
	/* list-style-position:inside; */
	text-align: center;
	margin-left:50px;
	margin-right:70px;
	list-style-type: none;
}

.Keyword3 {
	/* list-style-position:inside; */
	text-align: center;
	margin-left:60px;
	margin-right:130px;
	list-style-type: none;
}

.PictureContainer {
	width : 500px;
	margin : 0, auto;
}

.PictureContent {
	width : 500px;
	padding-top : 20px;
	margin : 0, auto;
}